{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load mytags %}
{% block title %}Inventory - {{ category }} Confirm Customer Order{% endblock title %}
{% block content %}
    <div class="container">
    {% include 'side_menu.html' %}
    <center><h4>Confirm {{ category|capfirst }} Customer Order</h4></center>
        <div class="col-sm-8">
            {% if messages %}
                <ul class="list-unstyled messages">
                      {% for message in messages %}
                        {% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
                        <center class="alert alert-{{ alert_tag }}">{{ message }}</center>
                      {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-9">
        <form method="post" action="">
                            {% csrf_token %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% render_field form.cust_name class="form-control"  placeholder=form.cust_name.label %}
                                    {{ form.cust_name.errors }}
                                </div>
                                <div class="form-group">
                                    {% render_field form.product_quant class="form-control" placeholder=form.product_quant.label %}
                                    {{ form.product_quant.errors }}
                                </div>
                                <div class="form-group">
                                    {% render_field form.product_value class="form-control"  id="onlyNumber" placeholder=form.product_value.label %}
                                    {{ form.product_value.errors }}
                                </div>
                                <div class="form-group">
                                    {% render_field form.address class="form-control"  placeholder=form.address.label rows="3" cols="4" %}
                                    {{ form.adress.errors }}
                                </div>
                                <div class="form-group">
                                    {% render_field form.phone_no class="form-control"  placeholder=form.phone_no.label %}
                                    {{ form.phone_no.errors }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% render_field form.state class="form-control"  %}
                                    {{ form.state.errors }}
                                </div>
                                <div class="form-group">
                                    Amount Paid
                                    {% render_field form.amount_paid class="form-control" placeholder="Amount Paid" %}
                                    {{ form.amount_paid.errors }}
                                </div>
                                <div class="form-group">
                                    Date Paid
                                    {% render_field form.date_paid class="form-control" placeholder="Date Paid" %}
                                    {{ form.date_paid.errors }}
                                </div>
                            </div>
                           <div class="col-sm-12">
                                 <center><input class="btn btn-lg btn-success" type="submit" value="Confirm {{ category|capfirst }} Order" /></center>
                                        <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </form>
        </div>
    </div>
{% endblock content %}